.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
  border: 0;
}

.line-list li {
  display: flex;
}

.line-list input {
  font-size: inherit;
  margin-left: 1em;
  width: 3em;
  text-align: center;
}

.output {
  flex: 1 1 0;
  align-self: center;
  min-width: 0;
  max-height: 100%;
  max-width: 100vh;
}
